# ignore apple dir
**.DS_Store

# ignore python cache
**/__pycache__

# ignore .npz files
**.npz

# ignore jpeg files
**.jpg
**.JPEG
**.jpeg

# ignore emacs buffer save
\#*\#

# ignore env variables
**.env
